/* @import "fonts.css"; */
@import "colors.css";


/* ==============================================================
/*	FONTS
/* ============================================================== */
    @font-face {
        font-family: 'Point-Light';
        src: url('/css/fonts/Point/Point-Light.woff2') format('woff2'), url('/css/fonts/Point/Point-Light.woff') format('woff');
        font-display: swap;
    }
    @font-face {
        font-family: 'Point-Regular';
        src: url('/css/fonts/Point/Point-Regular.woff2') format('woff2'), url('/css/fonts/Point/Point-Regular.woff') format('woff');
        font-display: swap;
    }
    @font-face {
        font-family: 'Point-Bold';
        src: url('/css/fonts/Point/Point-Bold.woff2') format('woff2'), url('/css/fonts/Point/Point-Bold.woff') format('woff');
        font-display: swap;
    }
    @font-face {
        font-family: 'Point-ExtraBold';
        src: url('/css/fonts/Point/Point-ExtraBold.woff2') format('woff2'), url('/css/fonts/Point/Point-ExtraBold.woff') format('woff');
        font-display: swap;
    }


    body {
        font-family: 'Point-Regular', sans-serif;
        color: #242c36;
        font-size: 1rem;
        line-height: normal;
    }


    .bold {
        font-family: 'Point-Bold';
    }
    .regular {
        font-family: 'Point-Regular';
    }
    .extra-bold {
        font-family: 'Point-ExtraBold';
    }
    .light {
        font-family: 'Point-Light';
    }


    ::-webkit-input-placeholder { /* Edge */
        font-family: 'Point-Regular';
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-family: 'Point-Regular';
    }
    ::placeholder {
        font-family: 'Point-Regular';
    }
/* fuentes */


/* ==============================================================
/*	FONT SIZE
/* ============================================================== */
    .fs-14 { 
        font-size: 14px; 
}
/* tamaños fuentes */


a {
    text-decoration: none;
}

.ac-btn {
    padding: 0.5rem 1rem;
    background: #242c36;
    border-radius: 2rem;
    color: #fff;
    transition: all ease .3s;
}
.ac-btn svg {
    fill: #2b73ff;
    width: 18px;
    transition: all ease .3s;
}
.ac-btn:hover {
    color: #a0daf6;
}
.ac-btn:hover svg {
    fill: #a0daf6;
}

.ac-btn-blue {
    background: #2b73ff;
    color: #fff;
}
.ac-btn-blue:hover {
    background: #242c36;
}

/* ==============================================================
/*	HOVER
/* ============================================================== */
	/* Forward */
    .hvr-forward {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    /* Backward */
    .hvr-backward {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    /* Float */
    .hvr-float {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    /* Sink */
    .hvr-sink {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
/* hover */