@import "fonts.css";
@import "colors.css";


a {
    text-decoration: none;
}

.ac-btn {
    padding: 0.5rem 1rem;
    background: #242c36;
    border-radius: 2rem;
    color: #fff;
    transition: all ease .3s;
}
.ac-btn svg {
    fill: #2b73ff;
    width: 18px;
    transition: all ease .3s;
}
.ac-btn:hover {
    color: #a0daf6;
}
.ac-btn:hover svg {
    fill: #a0daf6;
}

.ac-btn-blue {
    background: #2b73ff;
    color: #fff;
}
.ac-btn-blue:hover {
    background: #242c36;
}

/* ==============================================================
/*	HOVER
/* ============================================================== */
	/* Forward */
    .hvr-forward {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }
    /* Backward */
    .hvr-backward {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
    /* Float */
    .hvr-float {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    /* Sink */
    .hvr-sink {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
/* hover */

/* ==============================================================
/*	SHARING (BLOG INDEX / _SLUG) 
/* ============================================================== */
    .share-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: .7rem;
        border-radius: 50%;
        border: 1px solid #cccccc;
    }
    .share-btn svg {
        width: 1.5rem;
        fill: #009cde;
        transition: all ease .3s;
    }
    .share-btn:hover svg {
        fill: #fff;
    }

    #share-btn-facebook,
    #share-btn-twitter,
    #share-btn-linkedin,
    #share-btn-pinterest {
        background-color: #ffffff00;
        transition: all ease .3s;
    }
    #share-btn-facebook:hover {
        background-color: #3a589d;
        border-color: #3a589d;
    }
    #share-btn-twitter:hover {
        background-color: #5EA9DD;
        border-color: #5EA9DD;
    }
    #share-btn-linkedin:hover {
        background-color: #0177B5;
        border-color: #0177B5;
    }
    #share-btn-pinterest:hover {
        background-color: #cb2320;
        border-color: #cb2320;
    }
/** */